[user]
	email = t.nnamm@gmail.com
	name = nnamm

[core]
	editor = nvim
	excludesfile = /Users/nnamm/.gitignore_global

[alias]
	st = status -sb
	df = diff
	co = commit
	cl = clone
	br = branch
	bd = branch -D
	ft = fetch
	lg = log --graph --oneline
	ad = add
	ps = push
	pl = pull
	ck = checkout

[init]
	defaultBranch = main

[ghq]
  root = /Users/nnamm/Develop/repo
