[user]
	email = t.nnamm@gmail.com
	name = nnamm
[core]
	editor = nvim
	excludesfile = /Users/nnamm/.gitignore_global
[alias]
	st = status
	df = diff
	co = commit
	cl = clone
	br = branch
	ps = push
	pl = pull
	ck = checkout
[init]
	defaultBranch = main
