" General ------------------------------------------------------------
let mapleader = ","
" 検索対象をハイライト
set hlsearch
" Escの2回押しでハイライト消去
nnoremap <Esc><Esc> :nohlsearch<CR>
" インクリメンタル検索
set incsearch
" 検索するときに大文字小文字を区別しない
set ignorecase
" 検索時に大文字を含んでいたら大/小を区別
set smartcase
" 検索をファイル先頭まで循環しない
"set nowrapscan
" 行を折り返さない
set nowrap
" エディタスクロール
set scrolloff=10
" クリップボード制御
set clipboard=unnamed
set ideajoinset clipboard+=ideaput
set clipboard+=ideaput
" IdeaVimでベルを鳴らさない
set visualbell
set noerrorbells


" Plugin -------------------------------------------------------------
set commentary
set easymotion
set NERDTree
set surround

" vim-easymotion
nmap <leader>j <Plug>(easymotion-s2)
" NERDTree
nmap df :NERDTree<CR>


" Cursor -------------------------------------------------------------
" カーソル動作
" once 'nowrap' is disabled, enable the following settings
" nmap gj gj<SID>g
" nmap gk gk<SID>g
" nnoremap <script> <SID>gj gj<SID>g
" nnoremap <script> <SID>gk gk<SID>g
" nmap <SID>g <Nop>

" Tabキー動作
nnoremap <Tab> >>_
nnoremap <S-Tab> <<_
inoremap <S-Tab> <C-D>
vnoremap <Tab> >gv
vnoremap <S-Tab> <gv

" Do not yank with x
nnoremap x "_x
vnoremap x "_x

" Increment/decrement
nnoremap + <C-a>
nnoremap - <C-x>

" Delete a word backwards
nnoremap dw vb"_d

" Select all
nnoremap <C-a> gg<S-v>G<CR>

" 画面分割
" Split and Move Right -> ctrl + @
" Split and Move Down  -> ctrl + :
nnoremap <leader>sv :vsplit<CR>
nnoremap <leader>ss :split<CR>


" Action -------------------------------------------------------------
" References
" Quick Documentation -> ctrl + k / shift + k
" Quick Definition    -> ctrl + y
nnoremap <C-j> :action GotoNextError<CR>
nnoremap <leader><space> :action ShowErrorDescription<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gt :action QuickTypeDefinition<CR>
" nnoremap g_ :action GotoPreviousError<CR>
" nnoremap g] :action GotoNextError<CR>

" Project/Window/Tab
" NextTab      -> ctrl + ]
" PreviouseTab -> ctrl + [
nnoremap <leader>cp :action CloseProject<CR>
nnoremap <leader>ct :action CloseActiveTab<CR>
nnoremap <leader>to :action ActivateTODOToolWindow<CR>
nnoremap df :action ActivateProjectToolWindow<CR>

" Search Everywhere
nnoremap fp :action FindInPath<CR>
nnoremap ga :action GotoAction<CR>
nnoremap gf :action GotoFile<CR>
nnoremap na :action NewFile<CR>
